{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <form>
            <fieldset>
                <legend>Entre com login e senha de usuário</legend>

                <div>
                    {{ form.login.label(class="form-label") }}
                    {{ form.login(class="form-control", placeholder="Digite um login de usuario...") }}
                    {% for error in form.login.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %} 
                </div>
                
                <div>
                    {{ form.senha.label(class="form-label") }}
                    {{ form.senha(class="form-control", placeholder="Digite uma senha...") }}
                    {% for error in form.senha.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mt-4">
                    {{ form.submit(class="btn btn-success") }}
                </div>
                
            </fieldset>
        </form>
    </div>    
    {% endblock %}
  
  
    
</body>
</html>