{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
    <div class="container">
        <form>
            <fieldset>
                <legend>Entre com login e senha de usuário</legend>

                <div>
                    <h1>Login</h1>
                </div>
                
                <div>
                    <h1>Senha</h1>
                </div>

                <div>
                    <h1>Botão</h1>
                </div>
                
            </fieldset>
        </form>
    </div>    
    {% endblock %}
  
  
    
</body>
</html>