<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static',  filename='bootstrap.css') }}">

</head>
<body class="bg-primary-subtle">
    <div class="container">
        <div class="mt-5">
            <h1>Lista de Funcionários Cadastrados</h1>
        </div>

        <div>
            <ul class="list-group">
                {% for funcionario in funcionarios %}
                <li>
                    {{ funcionario[1] }} ({{ funcionario[2] }})

                        
                        <a href="{{ url_for('edit_funcionario', id=funcionario[0]) }}"> Editar </a>
                    
                        <form action="{{ url_for('delete_funcionario', id=funcionario[0]) }}" method="post" style="display: inline;">
                            <button class="btn btn-outline-danger" type="submit">Deletar</button>
                        </form>
                  
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary" href="{{ url_for('create_funcionario') }}">Adicionar Usuario</a>
        </div>
        
    </div>
</body>
</html>